<h2>Example Code</h2>

{% if include.week == 1 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt; &lt;!-- I tell the browser this is an HTML5 document --&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;The Structure of Websites&lt;/title&gt; &lt;!-- I am a comment --&gt;
                &lt;link href="assets/css/styles.css" /&gt; &lt;!-- Look, a link to CSS! --&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="box"&gt; &lt;!-- A parent div called "box" --&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt; &lt;!-- Child of the div --&gt;
                    &lt;p&gt;This paragraph is a child of the div it is in.&lt;/p&gt;
                    &lt;p&gt;This one is also a child. It is "in the box".&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 2 %}
<pre>
    <code class="html">
        &lt;!-- index.html --&gt;

        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;Introduction to CSS&lt;/title&gt;
                &lt;link href="assets/css/styles.css" /&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="first-class both-classes"&gt;
                    &lt;h1 id="citizen-one"&gt;First Class Citizen&lt;/h1&gt;
                    &lt;h1 id="citizen-two"&gt;First Class Citizen&lt;/h1&gt;
                    &lt;p&gt;I am a first class paragraph.&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="second-class both-classes"&gt;
                    &lt;h1 id="citizen-three"&gt;Second Class Citizen&lt;/h1&gt;
                    &lt;a class="second-class-link"&gt;I am a second class link.&lt;/a&gt;
                    &lt;a class="second-class-link"&gt;I am a second class link too.&lt;/a&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>

    <code class="css">
        /* styles.css */

        .both-classes {
            color: #fff;
            font-family: sans-serif;
            text-align: center;
        }

        .first-class {
            background-color: gold;
            font-size: 16px;
        }

        .second-class {
            background-color: silver;
            font-size: 14px;
        }

        #citizen-one {
            font-size: 40px;
            color: red;
        }

        .second-class-link {
            color: pink;
        }

        .second-class-link:hover {
            color: white;
        }
    </code>
</pre>

{% elsif include.week == 3 %}
<pre>
    <code class="html">
        &lt;!-- index.html --&gt;

        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;Box Model, Display, and Images&lt;/title&gt;
                &lt;link href="assets/css/styles.css" /&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;img src="image-link.png" class="image" /&gt;
                    &lt;p&gt;Image caption&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>

    <code class="css">
        /* styles.css */

        .container {
            height: auto;
            width: auto;
            padding: 10px;
            border: 1px solid pink;
        }

        .image {
            height: 200px;
            width: 200px;
            margin: 10px;
        }
    </code>
</pre>

{% elsif include.week == 4 %}
<pre>
    <code class="html">
        &lt;!-- index.html --&gt;

        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;CSS Positioning&lt;/title&gt;
                &lt;link href="assets/css/styles.css" /&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="parent-container"&gt;
                    &lt;nav class="child-nav"&gt;Heading&lt;/nav&gt;
                    &lt;p class="child-item"&gt;Image caption&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
    <code class="css">
        /* styles.css */

        .parent-container {
            position: relative;
            width: 500px;
            height: 500px;
            background-color: gray;
        }

        .child-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: white;
            z-index: 1;
        }

        .child-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: pink;
            z-index: 2;
        }
    </code>
</pre>

{% elsif include.week == 5 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;Centering and Flexbox&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading in a flexbox&lt;/h1&gt;
                    &lt;p&gt;I want to center everything in this container!&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 6 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;Adv Selectors &amp; Animations&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;p&gt;This is a sentence inside paragraph tags.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 7 %}
<pre>
    <code class="js">
        var myFunction = function() {
            return null;
        }
    </code>
</pre>

{% elsif include.week == 8 %}
<pre>
    <code class="js">
        var myFunction = function() {
            return null;
        }
    </code>
</pre>
{% endif %}
