{% if include.week == 1 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;HTML Basics&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;p&gt;This is a sentence inside paragraph tags.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 2 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;HTML Basics II&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;p&gt;This is a sentence inside paragraph tags.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 3 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;CSS Box Model&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;p&gt;This is a sentence inside paragraph tags.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 4 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;More CSS&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;p&gt;This is a sentence inside paragraph tags.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 5 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;CSS Positioning&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;p&gt;This is a sentence inside paragraph tags.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 6 %}
<pre>
    <code class="html">
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                &lt;title&gt;HTML5 &amp; CSS3 Goodies&lt;/title&gt;
            &lt;/head&gt;

            &lt;body&gt;
                &lt;div class="container"&gt;
                    &lt;h1&gt;Heading&lt;/h1&gt;
                    &lt;p&gt;This is a sentence inside paragraph tags.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>

{% elsif include.week == 7 %}
<pre>
    <code class="js">
        var myFunction = function() {
            return null;
        }
    </code>
</pre>

{% elsif include.week == 8 %}
<pre>
    <code class="js">
        var myFunction = function() {
            return null;
        }
    </code>
</pre>
{% endif %}
