{% include topic-item.html
    week=1
    title="Visual Hierarchy &amp; Wireframing"
    type="design"
    url="../content/design/week-1.html"
    blurb="Beginning the design process and structuring your website. We'll learn about wireframing and utilizing visual hierarchy." %}

{% include topic-item.html
    week=2
    title="Visual Hierarchy through Spacing"
    type="design"
    url="../content/design/week-2.html"
    blurb="Designing space to effectively convey information. See how adding and subtracting space will add to the visual experience." %}

{% include topic-item.html
    week=3
    title="Images and Layouts"
    type="design"
    url="../content/design/week-3.html"
    blurb="Get to know common layouts and their different uses in creating the user experience and effectively use images." %}

{% include topic-item.html
    week=4
    title="Typography and Color"
    type="design"
    url="../content/design/week-4.html"
    blurb="Typography and color are just more tools to convey emotion and information. The details become very important." %}

{% include topic-item.html
    week=5
    title="Putting It All Together"
    type="design"
    url="../content/design/week-5.html"
    blurb="Learn to use a great tool, Figma, to create beautiful UI. We'll be using everything we've learned in design thus far to put something beautiful together." %}

{% include topic-item.html
    week=6
    title="Animating with Delight"
    type="design"
    url="../content/design/week-6.html"
    blurb="How to best utilize animation in your designs. Delight the user with fancy yet seamless integrations of animations throughout your website." %}
{% comment %}
{% include topic-item.html
    week=7
    title="Cool Design"
    type="design"
    url="../content/design/week-7.html"
    blurb="Here we dive into JavaScript, taking a grand overview of its features and seeing briefly how they can be used to manipulate the DOM." %}

{% include topic-item.html
    week=8
    title="Designing"
    type="design"
    url="../content/design/week-8.html"
    blurb="We're looking at the jQuery syntax today! Going to see how easy it is to inject CSS into your HTML on the fly." %}
{% endcomment %}
