{% include design-topic-item.html
    week=1
    title="Design Basics"
    url="../content/week-1.html"
    blurb="Learn the basic HTML tags, absolute and relative paths and get familiar with the almighty web inspector." %}

{% include design-topic-item.html
    week=2
    title="Design Principles"
    url="../content/week-2.html"
    blurb="Advanced HTML tags, including lists, inputs, and divs. Intro to IDs and classes, and a peek at CSS." %}

{% include design-topic-item.html
    week=3
    title="Layout"
    url="../content/week-3.html"
    blurb="Diving into CSS! A look at the layout of pages and margin, border, and padding. Also talking about fancy CSS selectors." %}

{% include design-topic-item.html
    week=4
    title="Typography"
    url="../content/week-4.html"
    blurb="Today's a hodgepodge, folks. We're briefly reviewing selectors, before seeing best practices for centering, fonts, and images." %}

{% include design-topic-item.html
    week=5
    title="Grids"
    url="../content/week-5.html"
    blurb="This one's a toughie. Learn how to position HTML blocks using CSS, and what it means to float an element." %}

{% include design-topic-item.html
    week=6
    title="Design Things"
    url="../content/week-6.html"
    blurb="Learning how to do the last cool things that HTML5 and CSS3 afford us, before going into JavaScript/jQuery!" %}

{% include design-topic-item.html
    week=7
    title="Cool Design"
    url="../content/week-7.html"
    blurb="Here we dive into JavaScript, taking a grand overview of its features and seeing briefly how they can be used to manipulate the DOM." %}

{% include design-topic-item.html
    week=8
    title="Designing"
    url="../content/week-8.html"
    blurb="We're looking at the jQuery syntax today! Going to see how easy it is to inject CSS into your HTML on the fly." %}
