<!-- Site Information and SEO -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="Handbook for WDD students to review concepts from lecture and lab">
<meta name="author" content="WDD">
<meta name="keywords" content="WDD, web design decal, decal, handbook, html, css, javascript, learn">
<meta property="og:site_name" content="WDD Handbook">
<meta property="og:title" content="WDD Handbook">
<meta property="og:image" content="../../assets/images/wdd-logo.png">
<link rel="icon" href="../assets/images/wdd-logo.png">
<title>{{ page.title }} | WDD Handbook</title>

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans|Karla|Source+Code+Pro" rel="stylesheet">

<!-- CSS CDNs -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/agate.min.css">

<!-- JS CDNs -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
