{% include topic-item.html
    week=1
    title="HTML Basics"
    type="programming"
    url="../content/programming/week-1.html"
    blurb="Learn the basic HTML tags, absolute and relative paths and get familiar with the almighty web inspector." %}

{% include topic-item.html
    week=2
    title="HTML Basics II"
    type="programming"
    url="../content/programming/week-2.html"
    blurb="Advanced HTML tags, including lists, inputs, and divs. Intro to IDs and classes, and a peek at CSS." %}

{% include topic-item.html
    week=3
    title="CSS Box Model"
    type="programming"
    url="../content/programming/week-3.html"
    blurb="Diving into CSS! A look at the layout of pages and margin, border, and padding. Also talking about fancy CSS selectors." %}

{% include topic-item.html
    week=4
    title="More CSS"
    type="programming"
    url="../content/programming/week-4.html"
    blurb="Today's a hodgepodge, folks. We're briefly reviewing selectors, before seeing best practices for centering, fonts, and images." %}

{% include topic-item.html
    week=5
    title="CSS Positioning"
    type="programming"
    url="../content/programming/week-5.html"
    blurb="This one's a toughie. Learn how to position HTML blocks using CSS, and what it means to float an element." %}

{% include topic-item.html
    week=6
    title="HTML5 &amp; CSS3 Goodies"
    type="programming"
    url="../content/programming/week-6.html"
    blurb="Learning how to do the last cool things that HTML5 and CSS3 afford us, before going into JavaScript/jQuery!" %}

{% include topic-item.html
    week=7
    title="Introduction to Javascript"
    url="../content/programming/week-7.html"
    blurb="Here we dive into JavaScript, taking a grand overview of its features and seeing briefly how they can be used to manipulate the DOM." %}

{% include topic-item.html
    week=8
    title="Introduction to jQuery"
    type="programming"
    url="../content/programming/week-8.html"
    blurb="We're looking at the jQuery syntax today! Going to see how easy it is to inject CSS into your HTML on the fly." %}
