<h3 class="p-header">Programming</h3>

{% include sidebar-item.html
    week=1
    title="The Structure of Websites"
    url="../programming/week-1.html" %}

{% include sidebar-item.html
    week=2
    title="Introduction to CSS"
    url="../programming/week-2.html" %}

{% include sidebar-item.html
    week=3
    title="Box Model, Display, &amp; Images"
    url="../programming/week-3.html" %}

{% include sidebar-item.html
    week=4
    title="CSS Positioning"
    url="../programming/week-4.html" %}

{% include sidebar-item.html
    week=5
    title="Centering &amp; Flexbox"
    url="../programming/week-5.html" %}

{% include sidebar-item.html
    week=6
    title="Adv Selectors &amp; Animations"
    url="../programming/week-6.html" %}

{% comment %}
{% include sidebar-item.html
    week=7
    title="Introduction to Javascript"
    url="../programming/week-7.html" %}

{% include sidebar-item.html
    week=8
    title="Introduction to jQuery"
    url="../programming/week-8.html" %}
{% endcomment %}

<h3 class="d-header">Design</h3>

{% include sidebar-item.html
    week=1
    title="Visual Hrchy &amp; Wireframing"
    url="../design/week-1.html" %}

{% include sidebar-item.html
    week=2
    title="Visual Hrchy &amp; Spacing"
    url="../design/week-2.html" %}

{% include sidebar-item.html
    week=3
    title="Images and Layouts"
    url="../design/week-3.html" %}

{% include sidebar-item.html
    week=4
    title="Typography and Color"
    url="../design/week-4.html" %}

{% include sidebar-item.html
    week=5
    title="Putting It All Together"
    url="../design/week-5.html" %}

{% include sidebar-item.html
    week=6
    title="Animating with Delight"
    url="../design/week-6.html" %}

{% comment %}
{% include sidebar-item.html
    week=7
    title="Cool Design"
    url="../design/week-7.html" %}

{% include sidebar-item.html
    week=8
    title="Designing"
    url="../design/week-8.html" %}
{% endcomment %}
