@import "variables",
        "mixins";

html, body {
  overflow-x: hidden;
  color: $general-font-color;
  padding: 2vh 0;
  background-color: $primary-light;
}

header {
  margin-bottom: 8vh;
}

h1, h2, h3, h4, h5, h6, p, a {
  @include primary-font;
}

h1 {
  font-size: 34px;
  text-align: center;
  color: $primary-dark;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  @include secondary-font;
}

@media screen and (max-width: 1024px) {
  h1, h2, h3, h4, h5, h6, p {
    @include primary-font;
    @include unselectable;
    font-size: 10px;
  }
}

a {
  @include reg-transition;
  color: $primary-blue;
  font-size: inherit;

  &:hover {
      color: darken($primary-blue, 10%);
  }
}

.hide {
  display: none;
}

// text classes

.uppercase {
  text-transform: uppercase;
}

.centered-text {
  text-align: center;
}

.lightened-text {
  color: $lighter-font-color
}

.highlighted-text {
  color: $primary-blue;
}
