@import "variables",
        "mixins";


/* general */

html, body {
  overflow-x: hidden;
  color: $general-font-color;
  padding: 1vh 0;
  padding-bottom: 5vh;
  background-color: $primary-light;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5vw 5vh 5vw;
}

header {
  margin-bottom: 8vh;
}

/* general text */

h1, h2, h3, h4, h5, h6, p, a {
  @include primary-font;
}

h1 {
  font-size: 34px;
  text-align: center;
  color: $primary-dark;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  @include secondary-font;
}

@media screen and (max-width: 1024px) {
  h1, h2, h3, h4, h5, h6, p {
    @include primary-font;
    @include unselectable;
    font-size: 10px;
  }
}

/* code block */

code {
  font-family: 'monospace';
  font-family: 'Source Code Pro', monospace;
  line-height: 1.25;
  font-size: 14px;
}

/* links */

a.programming-link {
  @include reg-transition;
  color: $primary-blue;
  font-size: inherit;

  &:hover {
      color: darken($primary-blue, 10%);
  }
}

a.design-link {
  @include reg-transition;
  color: $primary-green;
  font-size: inherit;

  &:hover {
      color: darken($primary-green, 10%);
  }
}

/* element classes */

.hide {
  display: none;
}

/* text classes */

.uppercase {
  text-transform: uppercase;
}

.centered-text {
  text-align: center;
}

.lightened-text {
  color: $lighter-font-color
}

.programming-highlighted-text {
  color: $primary-blue;
}

.design-highlighted-text {
  color: $primary-green;
}
