@mixin primary-font {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $general-font-color;
}

@mixin secondary-font {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: $general-font-color;
  letter-spacing: 0.5px;
  line-height: 1.25;
}

@mixin short-transition {
  transition: all 0.1s ease;
}

@mixin reg-transition {
  transition: all 0.15s ease;
}

@mixin long-transition {
  transition: all 0.2s ease;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
