// general
$general-font-color: #333;
$lighter-font-color: #7a8899;

// wdd brand colors
$primary-blue: #6493be;
$primary-green: #7ac175;
$primary-red: #dc686a;
$primary-dark: #4c5764;
$primary-light: #fcfcfc;

// other
$gray: #d3d3d3;
$lighter-gray: lighten($gray, 10%);
$lightest-gray: lighten($gray, 15%);
$lighter-blue: lighten($primary-blue, 40%);
