html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; }

/* general */
html, body { overflow-x: hidden; color: #333; padding: 1vh 0; padding-bottom: 5vh; background-color: #fcfcfc; }

nav { display: flex; flex-direction: row; justify-content: space-between; margin: 0 5vw 5vh 5vw; }

header { margin-bottom: 8vh; }

/* general text */
h1, h2, h3, h4, h5, h6, p, a { font-family: 'PT Sans', sans-serif; font-size: 16px; line-height: 1.5; color: #333; }

h1 { font-size: 34px; text-align: center; color: #4c5764; }

h2 { font-size: 24px; }

h3 { font-size: 20px; }

p { font-family: 'Karla', sans-serif; font-size: 16px; color: #333; letter-spacing: 0.5px; line-height: 1.25; }

@media screen and (max-width: 1024px) { h1, h2, h3, h4, h5, h6, p { font-family: 'PT Sans', sans-serif; font-size: 16px; line-height: 1.5; color: #333; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 10px; } }
/* lists */
ol, ul { font-family: 'Karla', sans-serif; font-size: 16px; color: #333; letter-spacing: 0.5px; line-height: 1.25; margin-left: 20px; padding-top: 10px; font-size: 14px; }

/* code block */
code { font-family: 'Source Code Pro', monospace; line-height: 1.25; font-size: 14px; }
@media screen and (max-width: 1024px) { code { font-size: 12px; } }

/* links */
a.programming-link { transition: all 0.15s ease; color: #6493be; font-size: inherit; }
a.programming-link:hover { color: #477aa8; }

a.design-link { transition: all 0.15s ease; color: #7ac175; font-size: inherit; }
a.design-link:hover { color: #58b152; }

/* element classes */
.hide { display: none; }

/* text classes */
.uppercase { text-transform: uppercase; }

.centered-text { text-align: center; }

.lightened-text { color: #7a8899; }

.programming-highlighted-text { color: #6493be; }

.design-highlighted-text { color: #7ac175; }

.selector-wrapper { width: 100vw; display: flex; flex-direction: column; align-items: center; }

.selector { display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: wrap; margin-top: 4vh; }

.selector-item { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 350px; height: 350px; margin: 30px 50px; position: relative; }

.selector-item:first-child { background-color: #6493be; transition: all 0.15s ease; }
.selector-item:first-child:hover { background-color: #477aa8; }

.selector-item:last-child { background-color: #58b152; transition: all 0.15s ease; }
.selector-item:last-child:hover { background-color: #4ea148; }

.selector-item:before { content: ""; position: absolute; top: 0; right: 0; border-width: 0 26px 26px 0; border-style: solid; display: block; width: 0; }

.selector-item:first-child:before { border-color: #386084 #fff; }

.selector-item:last-child:before { border-color: #3d7e39 #fff; }

.selector-item img { width: 150px; margin-top: 30px; }

.selector-item p { color: white; }

.topic-list-wrapper { width: 100vw; display: flex; flex-direction: column; align-items: center; }

.topic-list { width: 50vw; }
@media screen and (max-width: 600px) { .topic-list { width: 70vw; } }

.topic-item { margin-bottom: 5vh; }

.content-wrapper { width: 100vw; display: flex; flex-direction: column; align-items: center; }

.content { width: 60vw; }
@media screen and (max-width: 600px) { .content { width: 75vw; } }

.content-section { margin-bottom: 5vh; }

.content-img-wrapper { width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.content-img-wrapper .caption { margin-top: 20px; font-size: 12px; color: #7a8899; }

.content-img { width: 60%; }

/*# sourceMappingURL=main.css.map */
