<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    
    <!-- Custom CSS -->
    <link href="../../assets/css/main.min.css" rel="stylesheet" type="text/css">

    <!-- Custom Scripts -->
    <script type="text/javascript" src="../../assets/js/prism.js"></script>
  </head>
  <body>
    <div class="handbook-home">
        {% if page.link-type == "design-link" %}
            {% include content-nav.html link-type="design-link" %}
        {% else %}
            {% include content-nav.html link-type="programming-link" %}
        {% endif %}
        
        <header>
            <h1>{{ page.title }}</h1>
            <p class="uppercase centered-text lightened-text"><span class="highlighted-text">{{ page.week }}</span> | Spring 2018</p>
        </header>

        <div class="content-wrapper">
            <div class="content">
                <h3>{{ page.heading }}</h3>
                <p>{{ page.text }}</p>
            </div>
        </div>
    </div>
  </body>
</html>
