<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <!-- Link to favicon -->
    <link rel="icon" href="../../assets/images/wdd-logo.png">
    
    <!-- Custom CSS -->
    <link href="../../assets/css/main.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="handbook-home">
        {% if page.link-type == "design-link" %}
            {% include content-nav.html link-type="design-link" %}
        {% else %}
            {% include content-nav.html link-type="programming-link" %}
        {% endif %}

        <div class="sidebar">
            {% include sidebar.html %}
        </div>

        <div class="content-wrapper">
            <header>
                <h1>{{ page.title }}</h1>
                <p class="uppercase centered-text lightened-text"><span class="highlighted-text">{{ page.week }}</span> | 2020</p>
            </header>
            <div class="content">
                <h3>{{ page.heading }}</h3>
                <p>{{ page.text }}</p>

                <br/><br/>

                {% if page.link-type == "design-link" %}
                    <!-- show no code for design -->

                {% else %}

                    {% if page.week == "Week One" %}
                        {% include code.html week=1 %}

                    {% elsif page.week == "Week Two" %}
                        {% include code.html week=2 %}

                    {% elsif page.week == "Week Three" %}
                        {% include code.html week=3 %}

                    {% elsif page.week == "Week Four" %}
                        {% include code.html week=4 %}

                    {% elsif page.week == "Week Five" %}
                        {% include code.html week=5 %}

                    {% elsif page.week == "Week Six" %}
                        {% include code.html week=6 %}

                    {% elsif page.week == "Week Seven" %}
                        {% include code.html week=7 %}

                    {% elsif page.week == "Week Eight" %}
                        {% include code.html week=8 %}

                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
  </body>
</html>
