<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <!-- Custom CSS -->
    <link href="../assets/css/main.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="handbook-home">
        {% if page.type == "design" %}
            {% include directory-nav.html link-type="design-link" %}
        {% else %}
            {% include directory-nav.html link-type="programming-link" %}
        {% endif %}

        <header>
            <h1>WDD Handbook</h1>
            <p class="uppercase centered-text lightened-text"><span class="{{ page.type }}-highlighted-text">{{ page.type }}</span> | Spring 2018</p>
        </header>

      <div class="topic-list-wrapper">
        <div class="topic-list">
            {% if page.type == "design" %}
                {% include design-topic-list.html %}
            {% else %}
                {% include programming-topic-list.html %}
            {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
