<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}

        <!-- Link to favicon -->
        <link rel="icon" href="assets/images/wdd-logo.png">

        <!-- Custom CSS -->
        <link href="assets/css/main.min.css" rel="stylesheet" type="text/css">
    </head>
  <body>
    <div class="handbook-home">
        <!-- {% include home-nav.html %} -->

        <header class="home-header">
            <h1>WDD Handbook</h1>
            <p class="uppercase centered-text lightened-text">Home | 2020</p>
        </header>

        <div class="selector-wrapper">
            <div class="selector">
                <div class="selector-item-wrapper">
                    <a class="selector-item" href="directories/programming.html">
                        <p class="centered-text">Programming<br/>Handbook</p>
                        <img src="assets/images/wdd-logo-trans.png" />
                    </a>
                    <a class="programming-link" href="assets/docs/Post-WDD Programming Resource Guide.pdf">
                        Programming Resource Guide
                    </a>
                </div>
                <div class="selector-item-wrapper">
                    <a class="selector-item" href="directories/design.html">
                        <p class="centered-text">Design<br/>Handbook</p>
                        <img src="assets/images/wdd-logo-trans.png" />
                    </a>
                    <a class="design-link" href="assets/docs/Post-WDD Design Resource Guide.pdf">
                        Design Resource Guide
                    </a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
